.hero-page-container {
  padding: 0;
  margin-bottom: 20px;
  overflow: hidden;

  .first-section-container {
    position: relative;
    background: #fff;

    .elipse2 {
      position: absolute;
      z-index: 0;
      max-width: 130px;
      margin-left: -79px;
      min-height: 167px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .first-hero-section {
      z-index: 1;

      .paragraph-container {
        .scheme-text {
          font-size: 25px;
          max-width: 1027px;
          margin: 0 auto;
          text-align: center;
          font-weight: 600;
          color: #000;
          padding: 20px 0 25px;

          span {
            color: #00c2ff;
          }
        }
      }

      .second-section-hero {
        max-width: 890px;
        margin: 0 auto;
        position: relative;
        z-index: 1;

        .secimage-list-cont {
          position: relative;
          z-index: 1;

          .family-img {
            width: 100%;
            height: 310px;
            object-fit: cover;
            object-position: 0 -80px;
            border-radius: 27px;
          }

          .hero-card-cont {
            display: flex;
            justify-content: space-between;
            margin-bottom: 22px;

            .hero-card {
              max-width: 700px;
              margin-top: -28px;
              padding-left: 20px;

              .hero-text {
                width: 100%;
                background: #00c2ff;
                font-size: 19px;
                font-weight: 600;
                color: #fff;
                border-radius: 29px;
                margin-bottom: 25px;
                max-height: 56px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 22px;
              }

              .steps-text {
                font-size: 19px;
                font-weight: 600;
                width: 100%;
                // padding-top: 21px;
                color: #000;
                margin-bottom: 30px;
                margin-left: 45px;
              }
            }

            .hero-btn-cont {
              flex: 0 0 310px;
              padding: 48px 0 0 32px;
              z-index: 1;

              a {
                max-width: 258px;
                max-height: 50px;
                display: flex;
                width: 100%;
                height: 100%;
                font-size: 16px;
                font-weight: 600;
                justify-content: center;
                align-items: center;
                background: #00c2ff;
                border-radius: 29px;
                color: #fff;
                padding: 6.5px 15px;
                position: relative;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                  border: 2px solid #ffed51;
                }
              }
            }
          }
        }

        .elipse3 {
          max-width: 146px;
          min-height: 45px;
          position: absolute;
          z-index: 0;
          margin-top: -66px;
          margin-left: 128px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .hero-section-title {
    font-size: 25px;
    font-weight: 600;
    color: #6dd2e0;
    margin-bottom: 10px;
  }

  .second-part-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f0f0f0;
    padding: 0 50px;
    position: relative;

    .hero-container-list {
      max-width: 608px;
      margin-left: 60px;

      .hero-list-heading {
        font-size: 25px;
        text-align: left;
        font-weight: 600;
        margin-bottom: 30px;
        color: #11556b;
        text-transform: uppercase;
      }

      .hero-list-paragraph {
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 20px;
        color: #00c2ff;
      }
      .list-item-container {
        padding-left: 18px;

        .hero-list-item {
          list-style-type: circle;
          margin-bottom: 25px;
          font-size: 16px;
          // margin-left: 30px;
        }
      }
    }

    .ellipse6 {
      position: absolute;
      margin-bottom: -344px;
      margin-left: -153px;
      max-width: 151px;
      z-index: 2;

      img {
        width: 100%;
        position: relative;
      }
    }

    .elipse-turtle-cont {
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      z-index: 1;

      .elipse4 {
        position: absolute;
        z-index: 0;
        max-width: 335px;
        right: -62px;
        top: 88px;

        img {
          width: 100%;
        }
      }

      .second-part-image {
        flex: 0 0 45%;
        padding-right: 90px;
        position: relative;
        z-index: 0;
        margin-top: 30px;
        overflow: hidden;

        .tortoise-img {
          width: 100%;
          margin-bottom: 26px;
          margin-top: -155px;
          height: 745px;
          object-fit: contain;
          object-position: bottom;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 0;
      background: #fff;
      width: 100%;
      height: 171px;
      left: 0;
      bottom: -35px;
    }
  }

  .page-second-section {
    background: #fff;
    padding: 10px 0 0;
    margin-bottom: -53px;
    top: -82px;
    position: relative;
    z-index: 1;

    .features-title {
      font-size: 25px;
      text-align: center !important;
      font-weight: 600;
      margin-bottom: 68px;
      padding-bottom: 45px;
      color: #11556b;
      text-transform: uppercase;
    }

    .feature-container {
      display: flex;
      justify-content: space-between;
      margin-top: -66px;

      .elipse-image-container {
        position: relative;
        margin-bottom: -68px;
        flex: 1;
        display: flex;
        justify-content: center;
        padding-left: 160px;

        &::after {
          content: "";
          background: #f0f0f0;
          display: flex;
          width: 100%;
          height: 55px;
          position: absolute;
          z-index: 1;
          bottom: 13px;
          left: 0;
        }

        .pat-photo {
          position: absolute;
          width: 500px;
          margin-left: -473px;
          margin-top: -18px;
          height: 525px;
        }

        .elipse5 {
          max-width: 455px;
          height: 302px;
          position: absolute;
          z-index: 0;
          margin-left: 0;
          margin-top: 75px;
          padding-left: 45px;

          > div {
            margin-top: -93px;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }

        .image-container {
          max-width: 400px;
          flex: 1;
          display: flex;
          justify-content: center;
          position: relative;
          z-index: 2;
          margin-top: 15px;
          margin-left: 0;

          img {
            width: 100%;
            object-fit: contain;
            margin-top: -25px;
          }
        }
      }

      .save-list-cont {
        max-width: 660px;
        padding-top: 160px;
        position: relative;
        overflow: hidden;

        .elipse7 {
          min-height: 10px;
          max-width: 164px;
          bottom: -78px;
          z-index: 0;
          right: -42px;

          img {
            width: 100%;
          }
        }

        .save-items {
          padding: 0 20px;
          margin-top: -132px;

          .help-item {
            list-style-type: circle;
            margin-bottom: 25px;
            font-size: 19px;
          }
        }
      }
    }
  }

  @media (min-width: 841px) and (max-width: 1280px) {
    .second-part-cont {
      .elipse-turtle-cont {
        .elipse4 {
          max-width: 200px;
          right: -73px;
          top: 117px;
        }

        .second-part-image {
          width: 442px;
          right: -93px;
          top: -26px;
        }
      }
    }
  }

  @media (max-width: 1083px) {
    .second-part-cont {
      .hero-container-list {
        .hero-items {
          padding-bottom: 30px;
        }
      }
    }

    .page-second-section {
      .elipse-image-container {
        padding-left: 48px;

        .elipse-container {
          top: -30px;
        }

        .image-container {
          top: -11px;
          right: -8px;
        }
      }
    }

    .benefits-section-container {
      .burial-text {
        padding-left: 65px;
      }
    }
  }

  @media (max-width: 1020px) {
    .first-hero-section {
      .paragraph-container {
        max-width: 700px;
        margin: 0 auto;
        .scheme-text {
          font-size: 24px;
        }
      }

      .second-section-hero {
        padding: 10px 30px;
      }
    }

    .second-part-cont {
      padding: 30px;
      position: static;

      .hero-container-list {
        margin-left: 0;
        margin-top: 0;

        .hero-container-heading {
          padding-top: 20px;
          padding-left: 29px;
        }

        .hero-list-paragraph {
          padding-left: 29px;
        }

        .hero-items {
          margin-left: 53px;
        }
      }

      .ellipse6 {
        display: none;
      }

      .elipse-turtle-cont {
        .elipse4 {
          max-width: 200px;
          right: -123px;
          top: -20px;
        }

        .second-part-image {
          display: none;
        }
      }

      &::after {
        display: none;
      }
    }

    .page-second-section {
      top: 0;
      padding: 30px;

      .features-title {
        padding-top: 20px;
        text-align: left;
        padding-left: 30px;
        padding-bottom: 0;
        margin-bottom: 86px;
      }
      .feature-container {
        .elipse-image-container {
          padding-left: 0;
          flex: 0 0 258px;

          .elipse5 {
            max-width: 252px;
            bottom: 38px;
            left: -25px;

            img {
            }
          }

          .image-container {
            bottom: 15px;
            left: -16px;
          }
          &::after {
            display: none;
          }
        }

        .save-list-cont {
          .elipse7 {
            display: none;
          }
        }
      }
    }
  }

  @media (min-width: 841px) and (max-width: 950px) {
    .first-section-container {
      .first-hero-section {
        padding: 0 30px;

        .second-section-hero {
          .secimage-list-cont {
            .hero-card-cont {
              .hero-card {
                .hero-text {
                  font-size: 16px;
                }
                .steps-text {
                  font-size: 16px;
                }
              }
              .hero-btn-cont {
                a {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 745px) {
    .first-section-container {
      .elipse2 {
        max-width: 100px;
      }

      .first-hero-section {
        .paragraph-container {
          .scheme-text {
            font-size: 18px;
            padding: 0 20px;
          }
        }

        .second-section-hero {
          .secimage-list-cont {
            img {
              max-height: 200px !important;
              object-fit: cover !important;
              object-position: bottom !important;
              height: 100%;
              border-radius: 10px;
            }

            .hero-card-cont {
              display: flex;
              flex-direction: column;
              row-gap: 20px;

              .hero-card {
                .hero-text {
                  font-size: 15px !important;
                  min-height: 33px !important;
                  margin-top: -7px !important;
                  margin-left: -12px;
                }

                .steps-text {
                  margin-left: 0;
                  font-size: 15px;
                  margin-top: -10px;
                  margin-bottom: 20px;
                  text-align: center;
                }
              }

              .hero-btn-cont {
                flex: 1;
                padding: 0;
                margin: 0 auto;

                .btn {
                  max-width: 300px;
                  min-height: 40px;
                  font-size: 12px;
                  margin-top: -18px;
                }
              }
            }
          }
        }
      }
    }

    .second-part-cont {
      position: relative;
      .hero-container-list {
        max-width: 100%;

        .hero-list-heading {
          font-size: 21px;
          text-align: center;
          margin-bottom: 20px;
        }

        .hero-list-paragraph {
          font-size: 16px;
          text-align: left;
          padding-left: 6px;
        }

        .hero-items {
          margin-left: 15px;

          .help-item {
            .help-label {
            }
            .item {
              font-size: 16px;
            }
          }
        }
      }
      .ellipse6,
      .elipse-turtle-cont {
        display: none;
      }
    }

    .page-second-section {
      .features-title {
        font-size: 21px;
        text-align: left;
        padding-left: 0;
        margin-bottom: 60px;
      }
      .feature-container {
        .elipse-image-container {
          display: none;
        }

        .save-list-cont {
          .save-items {
            padding-left: 0;
            margin-left: 16px;

            .help-item {
              help-label {
              }
              .item {
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    .benefits-section-container {
      .why-section {
        padding-inline: 30px;
        .burial-text {
          flex: 0 0 92%;
          padding-left: 15px;

          .why-heading {
            font-size: 16px;
            margin-bottom: 16px;
          }

          .why-description {
            font-size: 16px;
          }

          .list-benefit-cont {
            padding-left: 0;
            .help-item {
              .help-label {
              }

              .item {
                font-size: 16px;
              }
            }
          }
        }
        .burialimage-pat-container {
          display: none;
        }
      }

      .scheme-info-section {
        padding-bottom: 50px;

        .burial-scheme-heading {
          font-size: 16px;
          margin-bottom: 40px;
        }

        .info-pat-con {
          padding-inline: 15px;
          .scheme-items {
            max-width: 355px !important;
            margin: 0 auto;
          }

          .scheme-list {
            max-width: 300px !important;
            min-height: 300px !important;

            .scheme-card-title {
              font-size: 17px !important;
              height: 80px !important;
            }

            .benefit-description {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 640px) {
    .first-section-container {
      .elipse12 {
      }

      .first-hero-section {
        .paragraph-container {
          .scheme-text {
          }
        }

        .second-section-hero {
          .secimage-list-cont {
            img {
            }
            .hero-card-cont {
              .hero-card {
                .hero-text {
                  min-height: 56px !important;
                  height: 0;
                  padding: 5px 21px;
                  font-size: 15px;
                  margin-top: -27px;
                }

                .steps-text {
                }
              }

              .hero-btn-cont {
                a {
                  font-size: 14px;
                  font-weight: 500px;
                }
              }
            }
          }
        }
      }
    }
  }
}
