.hero-page-container {
  padding: 0;
  margin-bottom: 20px;
  overflow: hidden;

  .first-section-container {
    position: relative;
    background: #fff;

    .elipse2 {
      position: absolute;
      z-index: 0;
      max-width: 234px;
      min-height: 220px;
      margin-left: -113px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .first-hero-section {
      z-index: 1;

      .paragraph-container {
        .scheme-text {
          font-size: 28px;
          text-align: center;
          font-weight: 600;
          color: #000;
          max-width: 1110px;
          margin: 0 auto;
          padding: 10px 0 15px;

          span {
            color: #00c2ff;
          }
        }
      }

      .second-section-hero {
        max-width: 970px;
        margin: 0 auto;
        position: relative;
        z-index: 1;

        .secimage-list-cont {
          position: relative;
          z-index: 1;

          .family-img {
            width: 100%;
            height: 310px;
            object-fit: cover;
            object-position: 0 -80px;
            border-radius: 49px;
          }

          .hero-card-cont {
            display: flex;
            justify-content: space-between;
            margin-bottom: 22px;

            .hero-card {
              margin-top: -28px;
              padding-left: 20px;

              .hero-text {
                max-width: 700px;
                min-height: 60px;
                background: #4ccef7;
                font-size: 19px;
                font-weight: 600;
                color: #fff;
                padding: 20px;
                border-radius: 29px;
                margin-bottom: 25px;
              }

              .steps-text {
                font-size: 19px;
                font-weight: 600;
                // padding-top: 21px;
                color: #000;
                margin-bottom: 30px;
                margin-left: 45px;
              }
            }

            .hero-btn-cont {
              flex: 0 0 215px;
              padding: 48px 0 0 32px;
              z-index: 1;

              a {
                display: flex;
                width: 258px;
                height: 50px;
                font-size: 19px;
                font-weight: 600;
                justify-content: center;
                align-items: center;
                background: #4ccef7;
                border-radius: 29px;
                color: #fff;
                padding: 6.5px 15px;
                position: relative;

                &:hover {
                  border: 2px solid #ffed51;
                }
              }
            }
          }
        }

        .elipse3 {
          max-width: 146px;
          min-height: 45px;
          position: absolute;
          z-index: 0;
          margin-top: -66px;
          margin-left: 128px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .hero-section-title {
    font-size: 25px;
    font-weight: 600;
    color: #6dd2e0;
    margin-bottom: 10px;
  }

  .second-part-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f0f0f0;
    padding: 0 50px;
    position: relative;

    .hero-container-list {
      max-width: 608px;
      margin-left: 60px;
      margin-top: -70px;

      .hero-list-heading {
        font-size: 25px;
        text-align: left;
        font-weight: 600;
        margin-bottom: 30px;
        color: #11556b;
        text-transform: uppercase;
      }

      .hero-list-paragraph {
        margin-bottom: 25px;
        font-size: 20px;
        color: #4ccef7;
        font-weight: 500;
      }
      .list-item-container {
        padding-left: 18px;

        .hero-list-item {
          list-style-type: circle;
          margin-bottom: 25px;
          font-size: 16px;
          // margin-left: 30px;
        }
      }
    }

    .ellipse6 {
      position: absolute;
      margin-bottom: -344px;
      margin-left: -85px;
      max-width: 161px;
      z-index: 2;

      img {
        width: 100%;
        position: relative;
      }
    }

    .elipse-turtle-cont {
      position: relative;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      z-index: 1;

      .elipse4 {
        position: absolute;
        z-index: 0;
        margin-left: 336px;
        max-width: 280px;
        right: 0;
        top: 114px;

        img {
          width: 100%;
        }
      }

      .second-part-image {
        flex: 0 0 45%;
        padding-right: 90px;
        position: relative;
        z-index: 0;
        margin-top: 30px;
        overflow: hidden;

        .tortoise-img {
          margin-top: -155px;
          width: auto;
          height: 745px;
          object-fit: contain;
          object-position: bottom;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 0;
      background: #fff;
      width: 100%;
      height: 171px;
      left: 0;
      bottom: -35px;
    }
  }

  .page-second-section {
    background: #fff;
    padding: 60px 0 0;
    margin-bottom: -53px;
    top: -82px;
    position: relative;
    z-index: 1;

    .features-title {
      font-size: 28px;
      text-align: center;
      font-weight: 600;
      margin-bottom: 68px;
      padding-bottom: 45px;
      color: #11556b;
      text-transform: uppercase;
    }

    .feature-container {
      display: flex;
      justify-content: space-between;
      margin-top: -66px;

      .elipse-image-container {
        position: relative;
        margin-bottom: -68px;
        flex: 1;
        display: flex;
        justify-content: center;
        padding-left: 29px;

        &::after {
          content: "";
          background: #f0f0f0;
          display: flex;
          width: 100%;
          height: 55px;
          position: absolute;
          z-index: 1;
          bottom: 13px;
          left: 0;
        }

        .pat-photo {
          position: absolute;
          width: 500px;
          margin-left: -473px;
          margin-top: -18px;
          height: 525px;
        }

        .elipse5 {
          position: absolute;
          z-index: 0;
          margin-left: 0;
          margin-top: 75px;
          padding-left: 45px;

          > div {
            margin-top: -93px;
          }
          img {
            width: 530px;
            height: 495px;
          }
        }

        .image-container {
          flex: 1;
          display: flex;
          justify-content: center;
          position: relative;
          z-index: 2;
          margin-top: 15px;
          margin-left: 0;

          img {
            width: 600px;
            object-fit: contain;
            margin-top: -25px;
          }
        }
      }

      .save-list-cont {
        max-width: 580px;
        padding-top: 160px;
        position: relative;
        overflow: hidden;

        .elipse7 {
          min-height: 10px;
          max-width: 164px;
          bottom: -78px;
          z-index: 0;
          right: -42px;

          img {
            width: 100%;
          }
        }

        ul {
          padding: 0 20px;
          li {
            list-style-type: circle;
            margin-bottom: 25px;
            font-size: 19px;
          }
        }
      }
    }
  }
}
