.cover-container {
  .options-filter-container {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    row-gap: 80px;
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 119px;

    .cover-bg-cont {
      max-width: 1000px;
      max-height: 816px;
      margin: 0 auto;
      position: absolute;
      z-index: -1;
      width: 100%;

      .cover-bg {
        width: 100%;
        height: 286px !important;
        object-fit: cover;
        object-position: 0 -301px;
        border-radius: 10px;
      }

      &::after {
        content: " ";
        position: absolute;
        z-index: 1;
        background-color: rgb(0 0 0 / 30%);
        width: 100%;
        height: 100%;
        display: block;
        top: 0px;
        border-radius: 10px;
      }
    }

    .search-container {
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 1;
      top: 102px;

      .search-input-field {
        max-width: 330px;
        width: 100%;

        .input-error-cont {
          max-width: 300%;
        }

        input {
          font-size: 15px;
          font-weight: 400;
          padding: 10px 15px;
          border-radius: 27px;
          border-right: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          width: 100%;
          height: 100%;
          padding-left: 15px;
          border: 2px solid #209ec7;
        }
      }
      .btn {
        // margin: 0;
        border-radius: 0 27px 27px 0;

        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 150px;
        margin-left: -32px;
        max-height: 48px;
        min-height: 48px;
        background: #209ec7 !important;
      }
    }

    .policy-cards-container {
      @apply flex flex-col items-center gap-8 pb-10;

      max-width: 1100px;
      position: relative;
      z-index: 1;
      top: 98px;
      margin: 0 auto;
      width: 100%;
      row-gap: 50px;

      .no-match {
        padding-top: 80px;
        font-size: 17px;
        min-height: 50px;
        color: #000;
      }

      .card {
        min-height: 294px;
        max-height: 300px;
        box-shadow: 1px 1px 5px #00000021;

        .blue-card-title {
          padding: 29px 24px 17px;
          font-size: 19px;
          font-weight: 500;
        }

        .member {
          margin-bottom: 9px;
          font-style: italic;
        }

        .card-list {
          text-align: left;
          padding-left: 40px;

          .item {
            font-size: 17px;
            font-weight: 300;
            list-style: inside;
          }
        }

        button {
          background: #fff;
          color: #000;
          border-radius: 21px;
          max-width: 132px;
          width: 100%;
          max-height: 38px;
          height: 100%;
        }
      }
    }

    .no-match {
      font-size: 15px;
      font-weight: 500;
      color: #000;
    }

    .single-card {
      @apply p-4 border border-2 rounded-lg shadow-md;

      border-radius: 1.5rem;
      box-shadow: 1px 1px 5px #00000021;
      max-height: 350px;
      height: 100%;
    }
  }
  .cover-header-container {
    top: 0;
    bottom: unset;
    margin-top: 0;

    > div {
      border-radius: 0 0 29px 29px;
      background: #2c9fc3;
      text-align: center;
    }

    .cover-title {
      font-size: 45px;
      font-weight: 500;
      color: #fff;
      margin-bottom: 10px;
      line-height: 52px;
    }
    p {
      font-size: 16px;
      font-weight: 500;
      color: #fff;
    }
  }

  .cover-step-no {
    margin: 50px auto 20px;
  }
}
