.help-container {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;

  .pat-bg-cont {
    .help-background-pat {
      position: absolute;
      margin-right: -40px;
      margin-left: -247px;
      max-width: 537px;
      margin-top: -42px;
      img {
        width: 100%;
        height: auto;
      }
    }

    .help-image-container {
      position: relative;
      z-index: 1;
      position: relative;
      z-index: 1;
      margin-left: -226px;

      margin-top: 16px;

      img {
        width: 463px;
      }
    }
  }

  .help-text-container {
    flex: 0 0 485px;

    .help-title {
      font-size: 25px;
      font-weight: 600;
      text-align: center;
      padding: 49px 0 19px;
      margin-bottom: 30px;
      color: #11556b;
      text-transform: uppercase;
    }
  }

  .elipse8 {
    margin-bottom: -519px;
    right: -20px;
    max-width: 142px;

    img {
      width: 100%;
    }
  }
  .elipse9 {
    z-index: 1;
    margin-bottom: -525px;
    width: 200px;
    left: 52px;

    img {
      width: 100%;
    }
  }

  .help-image-container {
    img {
      width: 415px;
      height: 282px;
      object-fit: cover;
      object-position: center;
    }
  }

  @media (min-width: 841px) and (max-width: 1280px) {
    .pat-bg-cont {
      .help-image-container {
        left: 0;
      }
    }
  }

  @media screen and (max-width: 840px) {
    .pat-bg-cont {
      display: none;
    }

    .help-text-container {
      flex: 0 0 601px;
    }

    .elipse8 {
      margin-bottom: 0;
    }

    .elipse9 {
      display: none;
    }
  }

  @media screen and (max-width: 745px) {
    .help-text-container {
      flex: 1;

      .help-title {
        padding-top: 10px;
        font-size: 21px !important;
      }

      .list-help-cont {
        margin-left: 0;

        .help-item {
          .item {
            font-size: 16px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 358px) {
    display: block;

    .pat-bg-cont {
      display: none;
    }

    .help-text-container {
      .help-title {
        text-align: center;
        font-size: 16px;
        padding: 0;
      }

      .list-help-cont {
        margin-left: 0;

        .help-item {
          .help-label {
          }

          .item {
            font-size: 16px;
          }
        }
      }
    }

    .elipse8 {
      right: 5px;
      max-width: 93px;
    }
  }
}
