.dashboard-container {
  height: 100%;
  background: #197e9e;
  .welcome-message {
    font-size: 30px;
    font-weight: 400;
    padding: 40px 10px 10px 20px;
    color: #fff;

    span {
      color: #0061b2;
    }
  }
  .welcome-sub-message {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #fff;
    padding-left: 20px;
  }

  .user-card-container {
    width: 600px;
    height: 149px;
    border-radius: 21px;
    background: #0061b2;
    margin-left: 20px;
    padding: 15px;
    > div {
      width: 150px;
      height: 50px;
      border-radius: 15px;
      background: #003bbb;
      color: white;
      font-size: 20px;
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
