.upload-container {
  max-width: 220px;
  flex: 1;
  cursor: pointer;

  label {
    position: relative;

    input {
      height: 100%;
      width: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      cursor: pointer;
    }

    .field-label-container {
      font-size: 18px;
      font-weight: 400;
      text-align: start;

      .inside-text {
        width: 100%;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-right: none !important;
        height: 43px;
        border: 1px solid #00c2ff;
        border-radius: 27px;
        padding: 5px 20px;
        font-size: 14px;
        flex: 1;
        cursor: pointer;
        max-width: 135px;

        > div {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .input-btn {
        width: 100%;
        max-width: 90px;
        font-size: 14px;
        border: 1px solid #00c2ff;
        border-radius: 0 27px 27px 0;
        background: #00c2ff;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
  .error-message {
    color: #da0530;
    font-size: 15px;
    padding: 0px 0 0px 2px;
  }

  .message {
    font-size: 15px;
    padding-left: 18px;
    color: #078307;
  }

  .loader-icon-container {
    height: 100%;
    width: 100%;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    .loader-icon {
      margin-right: 0;
      animation: spin 1s linear infinite; // add spinning animation
      height: 100%;
      width: auto;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
