.benefits-section-container {
  background: #f0f0f0;
  margin-top: -90px;
  overflow: hidden;

  .why-section {
    display: flex;
    max-width: 1175px;
    column-gap: 25px;
    padding: 75px 0 29px;
    margin: 0 0 auto auto;

    .burial-text {
      flex: 0 0 48%;

      .why-heading {
        font-size: 25px;
        text-align: left;
        font-weight: 600;
        margin-bottom: 25px;
        color: #11556b;
        text-transform: uppercase;
      }

      .why-description {
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 20px;
        color: #00c2ff;
      }

      .elipse7 {
        left: -105px;
        max-width: 171px;
        margin-top: 38px;

        img {
          width: 100%;
        }
      }

      .list-benefit-cont {
        margin-left: 0;
      }

      .why-item {
        list-style-type: circle;
        margin-bottom: 25px;
        font-size: 15px;

        span {
          font-weight: 600;
        }
      }
    }

    .burialimage-pat-container {
      margin-left: 93px;

      .pat-img-cont {
        max-width: 500px;
        height: 172px;
        position: relative;

        .half-pat-image {
          height: auto;
          width: 100%;
          margin-right: -80px;
        }
      }

      .burial-img-cont {
        flex: 1;
        justify-content: flex-end;
        display: flex;
        position: absolute;
        z-index: 1;
        margin-top: 95px;

        .whyscheme-img {
          width: 445px;
          height: auto;
          object-fit: contain;
          object-position: center;
          margin-left: 145px;
        }
      }

      .elipse8 {
        margin-top: 483px;
        max-width: 200px;

        img {
          width: 100%;
        }
      }
    }
  }

  .scheme-info-section {
    background: #fff;
    padding-top: 50px;
    position: relative;
    z-index: 1;
    padding-bottom: 13px;

    .burial-scheme-heading {
      font-size: 25px;
      text-align: center;
      font-weight: 600;
      margin-bottom: 50px;
      color: #11556b;
      text-transform: uppercase;
    }

    .info-pat-con {
      .pat-background-cont {
        position: absolute;
        margin-top: -70px;
        margin-right: -40px;
        padding-bottom: 10px;

        .wholepat-img {
          width: 100%;
          margin-right: 75px;
          height: 480px;
        }
      }
      .scheme-items {
        display: flex;
        max-width: 1350px !important;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 20px;
        align-items: center;
        margin-bottom: 50px;
        position: relative;
        z-index: 1;

        .scheme-list {
          min-height: 426px !important;
          padding: 10px 20px;
          height: 100%;
          max-width: 277px !important;
          border-radius: 30px;
          background: #fff;
          border: 2px solid #00c2ff;
          box-shadow: none;

          .scheme-card-title {
            font-size: 19px;
            padding: 10px 11px;
            font-weight: 500;
            color: #00c2ff;
            height: 90px;
            text-align: center;
          }

          .benefit-description {
            padding: 0 0 15px;
            font-weight: 400;
          }
        }
      }
    }
  }

  @media (min-width: 841px) and (max-width: 1280px) {
    .scheme-info-section {
      .info-pat-con {
        .scheme-items {
          gap: 40px;
        }
      }
    }
  }

  @media (max-width: 840px) {
    margin-top: 0;

    .why-section {
      padding: 75px 50px 58px 60px;

      .burial-text {
        flex: 0 0 81%;

        .why-heading {
          padding-top: 20px;
        }

        .elipse7 {
          display: none;
        }

        .list-benefit-cont {
          padding-left: 21px;
        }
      }

      .burialimage-pat-container {
        display: none;
      }
    }

    .scheme-info-section {
      .burial-scheme-heading {
      }

      .info-pat-con {
        .scheme-items {
          gap: 40px;
          .scheme-list {
            max-width: 342px !important;
            min-height: 347px !important;
          }
        }
      }
    }
  }
  @media (max-width: 745px) {
    .why-section {
      .burial-text {
        .why-heading {
          font-size: 21px !important;
          text-align: center;
        }
      }
    }

    .scheme-info-section {
      .burial-scheme-heading {
        font-size: 21px !important;
      }
    }
  }
}

.we-help-container {
  background: #f0f0f0;
  padding: 50px;
}

.outer-benefit-items {
  background: #fff;
  padding: 0;

  .benefits-heading {
    font-size: 25px !important;
    font-weight: 600;
    text-align: center;
    padding: 56px 0;
    margin-bottom: 30px;
    color: #11556b;
    text-transform: uppercase;
  }

  .benefits-items-container {
    padding: 0 30px 30px;

    .benefits-items {
      display: flex;
      max-width: 1310px;
      column-gap: 25px;
      justify-content: center;

      .benefit-list {
        min-height: 323px !important;
        border-radius: 30px;
        background: #fff;
        flex: 1;
        max-width: 100%;
        border: 2px solid #00c2ff;
        box-shadow: none;
      }
    }
  }

  @media (max-width: 1310px) {
    .benefits-items-container {
      .benefits-items {
        flex-wrap: wrap;
        row-gap: 35px;

        .benefit-list {
          flex: 0 0 25%;
        }
      }
    }
  }

  @media (min-width: 841px) and (max-width: 1280px) {
    .benefits-items-container {
      .benefits-items {
        flex-wrap: wrap;

        .benefits-list {
          flex: 0 0 30%;
        }
      }
    }
  }

  @media (max-width: 840px) {
    .benefits-heading {
      margin-bottom: 0;
    }

    .benefits-items-container {
      max-width: 342px;
      margin: 0 auto;

      .benefits-items {
        flex-wrap: wrap;
        max-width: 625px;
        gap: 40px;

        .benefit-list {
          flex: 0 0 45%;
        }
      }
    }
  }

  @media (max-width: 745px) {
    .benefits-heading {
      font-size: 16px;
      padding: 33px 0;
    }

    .we-help-container {
      padding-inline: 30px;
    }

    .benefits-items-container {
      .benefits-items {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 30px;

        .benefit-list {
          flex: 1;
          min-height: 380px !important;

          .benefit-image {
            img {
              width: 50px;
              height: 50px;
            }
          }

          .benefit-scheme-title {
            font-size: 16px;
            height: 60px;
          }
          .benefit-description {
            font-size: 15px;
          }
        }
      }
    }
  }
}
