.member-card {
  max-width: 282px !important;
  min-height: 361px;
  width: 100%;
  cursor: pointer;

  label {
    position: relative;

    input {
      position: absolute;
      visibility: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .card-content {
      display: block;
      height: 100%;
      background: #fff;
      position: relative;
      padding: 10px 13px 13px;
      border: 2px solid #00c2ff;
      border-radius: 13px;

      .check-icon {
        background-color: #fff;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
        position: absolute;
        right: 10px;
        top: 10px;

        svg {
          fill: #fff;
        }
      }
      .policy-image {
        margin: 0px auto 10px;
        padding-top: 20px;
        padding-bottom: 0;
        max-width: 100px;

        img {
          width: 100%;
          height: 88px;
        }
      }
      .member-title {
        font-size: 23px;
        font-weight: 600;
        text-align: center;
        height: 60px;
        margin-bottom: 30px;
        color: #000;
      }

      .member-description {
        font-size: 18px;
        font-weight: 600;
        text-align: center !important;
        padding: 0 10px;
      }
    }

    input:checked ~ .card-content {
      background: #cee8f0;

      .check-icon {
        background: #00c2ff;
        svg {
          fill: #fff;
        }
      }
    }
  }
}
