.about-title {
  font-size: 25px;
  color: #00c2ff;
  font-weight: 600;
  margin-bottom: 20px;
}

.about-description {
  font-size: 20px;
  margin-bottom: 45px;
}

ul {
  li {
    font-size: 20px;
    margin-bottom: 15px;
    strong {
      font-size: 18 px;
    }
  }
}
