.benefits-card-container {
  max-width: 193px;
  min-height: 475px;
  box-shadow: 1px 1px 5px rgb(149 140 140);

  .benefit-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    img {
      width: 68px;
      height: 68px;
      object-fit: cover;
      object-position: center;
    }
  }

  .benefit-scheme-title {
    font-size: 19px;
    padding: 10px 11px;
    font-weight: 500;
    color: #00c2ff;
    height: 80px;
    text-align: center;
  }

  .benefit-description {
    font-size: 18px;
    padding: 0 15px 15px;
    letter-spacing: 0.2px;
    font-weight: 400;
  }
}
